

body{
    font-family: Arial, Helvetica, sans-serif;
   
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.left{
    width: 50%;
    height: 100%;
    background-color:   whitesmoke;
}

.left .header p{
    color: grey;
}

.right{
    width: 50%;
    height: 100%;
}

.right img{
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    
}

.container .left .header span{
    font-size: 30px;
    font-weight: 200px;
}

.login .forgot-p p{
    justify-content: end;
    align-items: flex-end;
    color: aliceblue;
}

.login .submit button{
    width: 100%;
    background-color: #fb771a;
    outline: none;
    height: 45px;
    border: 0px;
}

.login .check-box input{
    
    height: 20px;
    width: 20px;
    background: #fb771a;
    
}

.login .forgot-p a{
    justify-content: flex-end;
}